Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
import numpy as np
 
# simple array
data = np.array([4, 8, 15, 16, 23, 42])
 
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int32

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [27]:
list1 = [4,5,2,78,4,2,45,7,98,567]
df1 = pd.Series(list1)
print(df1)

0      4
1      5
2      2
3     78
4      4
5      2
6     45
7      7
8     98
9    567
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [12]:
df2= pd.DataFrame({"Name":['Alice','Bob','Claire'],
                    "Age": [26,30,27],
                    "Gender":["Female","Male","Female"]})


print(df2)

     Name  Age  Gender
0   Alice   26  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
Series is like 1-D array or like a single column.


1)Series are 1-D, whereas Dataframe are 2-D. 
2)Series consists of homogeneous data, whereas dataframe consists of heterogeneous data. 
3)series are value mutable whereas dataframe are not.

In [18]:
##dataframe example
print("dataframe example")
df2= pd.DataFrame({"Name":['Alice','Bob','Claire'],
                    "Gender":["Female","Male","Female"]})


print(df2)

print("####################33")
##series example
print("series example")

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

dataframe example
     Name  Gender
0   Alice  Female
1     Bob    Male
2  Claire  Female
####################33
series example
day1    420
day2    380
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

The functions we use to manipulate data in a pandas dataframe are
sort_values(),drop(),drop_duplicates(),apply(),merge()

In [25]:
#sort_values function example
student = pd.DataFrame({'Name': ['Rohan', 'Rahul', 'Gaurav',
                                 'Ananya', 'Vinay', 'Rohan',
                                 'Vivek', 'Vinay'],
                         
                        'Score': [76, 69, 70, 88, 79, 64, 62, 57]})
 
# Reading Dataframe
print("Dataframe Before sorting in ascending order:\n",student)
student_sort = student.sort_values(by=['Score'], ascending=True)
print("Dataframe After sorting in ascending order:\n",student_sort)

Dataframe Before sorting in ascending order:
      Name  Score
0   Rohan     76
1   Rahul     69
2  Gaurav     70
3  Ananya     88
4   Vinay     79
5   Rohan     64
6   Vivek     62
7   Vinay     57
Dataframe After sorting in ascending order:
      Name  Score
7   Vinay     57
6   Vivek     62
5   Rohan     64
1   Rahul     69
2  Gaurav     70
0   Rohan     76
4   Vinay     79
3  Ananya     88

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame is mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [33]:
courses = pd.Series(["Spark","PySpark","Hadoop"],name="courses")
fees = pd.Series([22000,25000,23000],name="fees")
discount  = pd.Series([1000,2300,1000],name="discount")
df3 = pd.concat([courses,fees,discount],axis=1)
print(df3)

   courses   fees  discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000