Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [6]:
#variable containing string data type
s= "Abinash"
print(type(s))

#variable containing list data type
l= [1,4,2,4,5,7]
print(type(l))

#variable containing float data type
f= 3.789
print(type(f))

#variable containing tuple data type
t= (1,7,3,5)
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [12]:
var1 = ' '
print("data type of var1",type(var1))

var2 = '[ DS , ML , Python]'
print("data type of var2",type(var2))

var3 = [ 'DS' , 'ML' , 'Python' ]
print("data type of var3",type(var3))

var4 = 1.
print("data type of var4",type(var4))

data type of var1 <class 'str'>
data type of var2 <class 'str'>
data type of var3 <class 'list'>
data type of var4 <class 'float'>

Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **

In [17]:
#division operator
#Divides the number on its left by the number on its right and returns a floating point value.
a=5/3
print("the result of division operator is",a)

#Modulo division operator
#returns remainder of a division
b= 17%3
print("the result of Modulo division operator is",b)

#floor division
#Divides the number on its left by the number on its right, rounds down the answer, and returns a whole number.
c= 7//3
print("the result of floor division operator is",b)

#exponen operator
#raises a number to the required power
d= 4**3
print("the result of power operator is",d)

the result of division operator is 1.6666666666666667
the result of Modulo division operator is 2
the result of floor division operator is 2
the result of power operator is 64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [28]:
x= [1,4,5,6,7,"a","ds",0.674,3.23,3]
for i in x:
    print(i,type(i))

1 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
a <class 'str'>
ds <class 'str'>
0.674 <class 'float'>
3.23 <class 'float'>
3 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [20]:
A=99
B=3
C=A
count=0

while A%B==0:
    count=count+1
    A=A/B

if count>0:
    print(f'{B} divides {C} for {count} times')
else:
    print(f'{B} doesnot divide {C}')

3 divides 99 for 2 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [38]:
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(2,1000))
print("list containing random 25 integers",rand_list)


for j in rand_list:
    if (j%3==0):
        print(j,"is divisible by 3")
    else:
        print(j,"is not divisible by 3")

list containing random 25 integers [504, 181, 623, 453, 255, 511, 739, 181, 533, 289]
504 is divisible by 3
181 is not divisible by 3
623 is not divisible by 3
453 is divisible by 3
255 is divisible by 3
511 is not divisible by 3
739 is not divisible by 3
181 is not divisible by 3
533 is not divisible by 3
289 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable- we can modify the already existing values of the data types (such as lists, dictionaries, etc.). we can also add new values or remove the existing values from our data types. Basically, we can perform any operation with our data without having to create a new copy of our data type.

Examples- List, Sets, and Dictionary are examples of some mutable data types in Python.


immutable- are those that does not allow to change their value or data in place without affecting the object's identity.Immutable datatypes are objects that cannot be modified or altered after they have been created.

Examples- Strings and Tuples are immutable